@use "../base";

header {
    background-color: base.$blue100;
}

.nav-list {
    display: flex;
    justify-content: center;
}

.nav-item {
    flex: 1 1 0;

    a {
        display: block;
        text-align: center;
        padding: 23px 0 25px 0;
        @include base.title;
        color: base.$blue200;
        font-weight: 400;

        position: relative;

        &.active {
            color: base.$white ;
            font-weight: 500;
        }

        //底線
        &.active::after {
            content: "";
            display: block;
            width: 80%;
            height: 5px;
            background-color: base.$blue200;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
        }
    }
}