$primary: #4a90e2;
$hover-primary: #3982d7;

$dark-blue: #00408b;

$cancel: #d0021b;

$pin: #f5a623;
$pin-bg: #fff2dc;

$grey-1: #f2f2f2;
$grey-2: #e1e1e1;
$grey-3: #c8c8c8;
$grey-4: #9b9b9b;
$grey-5: #757575;

$white: #ffffff;
$hover-white: #fdfdfd;

$black: #000000;
