@use "../abstracts";
@use "../base";

main {
    padding: 24px 8px;

    @include abstracts.deviceScreen (abstracts.$md-size) {
        padding: 24px 0;
    }
}



//表單樣式
.add-form,
.edit-form {
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 base.$gray300;
}

.task-body {
    padding: 23px 32px 24px 72px;
    background-color: base.$gray100;
}


.content-title {
    margin-bottom: 8px;

    >span {
        @include base.subtitle;
    }

    >.fa-file {
        font-size: 18px;
    }
}

//deadline
.deadline {
    margin-bottom: 22px;

    .date-time {
        display: flex;
        gap: 8px;
        margin-left: 25px;

        input[type="date"],
        input[type="time"] {
            padding: 8px 16px;
            border-radius: 2px;

            &:focus {
                outline: 2px solid base.$blue100;
            }
        }
    }
}

//file
.add-form {
    .add-file {
        margin-bottom: 22px;

        .file-icon {
            margin-left: 25px;

            .fa-square-plus {
                color: base.$gray300;
                font-size: 32px;

                &:hover {
                    color: base.$blue100;
                }
            }
        }
    }

}

//comment
.comment-data {
    margin-left: 25px;

    textarea {
        resize: none;
        width: 100%;
        padding: 8px 16px;
        border-radius: 2px;
        line-height: 24px;

        &::placeholder {
            color: base.$gray300;
        }

        &:focus {
            outline: 2px solid base.$blue100;
        }
    }
}

// edit區
.edit-form {
    .edit-file {
        margin-bottom: 22px;

        .file-container {
            display: flex;
            align-items: center;
            margin-left: 25px;
            gap: 25px;
        }

        .upload-data {
            display: flex;
            flex-direction: column;

            .file-name {
                @include base.paragraph;
            }

            .last-updated {
                @include base.paragraph;
                color: base.$gray400;
            }

        }

        .file-icon {
            .fa-square-plus {
                color: base.$gray300;
                font-size: 32px;

                &:hover {
                    color: base.$blue100;
                }
            }
        }
    }

}