$blue100: #4A90E2;
$blue200: #00408B;
$red: #D0021B;
$yellow100: #FFF2DC;
$yellow200: #F5A623;
$gray100: #F2F2F2;
$gray200: #E1E1E1;
$gray300: #C8C8C8;
$gray400: #757575;
$white: #FFFFFF;
$dark: #000000;

$blue-hover: #3982D7;
$white-hover: #FDFDFD;