@use "./button";
@use "../base/color";

.task-footer {
    .button-group {
        display: flex;
        align-items: center
    }

    .cancel-button,
    .add-button,
    .save-button {
        @include button.button-setting;
    }

    .cancel-button {
        background-color: color.$white;
        border-radius: 0 0 0 5px;

        &:hover {
            background-color: color.$white-hover;
        }

        .fa-xmark {
            color: color.$red;
        }

        >span {
            color: color.$red;
        }

    }

    .add-button,
    .save-button {
        background-color: color.$blue100;
        border-radius: 0 0 5px 0;

        &:hover {
            background-color: color.$blue-hover;
        }

        .fa-plus {
            color: color.$white;
        }

        span {
            color: color.$white;
        }
    }
}